{% load static %}
<html>
    <head>
        <title>My First Django blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="http://www.lovethispic.com/image/277113/happy-birthday-to-you-wallpaper">Click here</a></h1>
        </div>

        <div>
            <p>HI Agile Mathew</p>
            <h2><a href="https://www.facebook.com/public/Agile-Mathew">Log on to facebook</a></h2>
            <p>Good Evening</p>
        </div>

        <div>
            <p>OKeydokey</p>
            <h2><a href="https://tutorial.djangogirls.org/en/whats_next">My second post</a></h2>
            <p>AGUS MATHEW</p>
        </div>
    </body>
</html>